<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <!--LINK CSS-->
    <link rel="stylesheet" href="/womaninfinal-main/app/public/css/cadastro_prof (1).css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--INICIO DO FORMULARIO DE CADASTRO-->
    <title>Formulário</title>
  </head>
  <body>
    <section class="signin-area signin-one">
      <div class="container">
        <a href="index.html">
          <img src="/womaninfinal-main/app/public/imagem/imagens.tca/logo2.png" width="158px" height="60px">
      </a>
      <h1>Cadastrar-se</h1>
         <div class="row justify-content-center">
            <div class="col-lg-5">
               <form action="#">
                  <div class="signin-form form-style-two rounded-buttons">
                     <div class="row">
                        
                      <div class="col-md-12">
                        <label for="validationServer01" class="form-label">Nome</label>
                        <input type="text" class="form-control is-valid" id="validationServer01" value="" required>
                        <div class="valid-feedback">
                          Perfeito!
                        </div>
                        </div>
                        <div class="col-md-12">
                          <label for="validationServerUsername" class="form-label">Email</label>
                          <div class="input-group has-validation">
                            <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                              Coloque seu e-mail
                            </div>
                          </div>
                           <!-- form input -->
                        </div>
                      
                           <!-- form input -->
   
                        <div class="col-md-12">
                           <div class="form-input">
                              <label>Password for your account</label>
                              <div class="input-items default">
                                 <input type="password" placeholder="Password" />
                                 <i class="lni lni-key"></i>
                              </div>
                           </div>
                           <!-- form input -->
                        </div>
                        <div class="col-md-6">
                           <!-- form input -->
                        </div>
                        <div class="col-md-6">
                           <div class="form-input rounded-buttons">
                              <button
                                 class="btn primary-btn-outline rounded-full"
                                 type="submit"
                                 >
                                Cadastrar-se
                              </button>
                           </div>
                           <!-- form input -->
                        </div>
                        <div class="col-md-12">
                           <div class="form-input text-center">
                              <p class="text">
                                 By signing in you agree with the
                                 <a href="javascript:void(0)">Terms and Conditions</a>
                                 and
                                 <a href="javascript:void(0)">Privacy</a>
                              </p>
                           </div>
                           <!-- form input -->
                        </div>
                     </div>
                  </div>
                  <!-- signin form -->
               </form>
            </div>
         </div>
         <!-- row -->
      </div>
      <!-- container -->
   </section>

    <!--LINKS JAVASCRIPT-->
    <script
      src="https://kit.fontawesome.com/f9e19193d6.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script>
         (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Seleciona o formulário
                let form = document.getElementById('validationForm');
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('is-validated');
                }, false);
            }, false);
        })();
      </script>
  </body>
</html>
