<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
        <link rel="stylesheet" href="css/curso.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Woman in work</title>
    </head>
    <body>

        <header">
            <div class="container">
                <nav>
                    <a href="index.html">
                        <img src="/public/imagem/imagens.tca/logo2.png" width="158px" height="60px">
                    </a>
                    <ul class="ul">
                        <a href="index.html">Home</a>
                        <a href="/views/pages/sobrenos.html">Sobre nós</a>
                        <a href="cursos.html">Cursos</a>
                        <a href="divulgacao.html">Divulgação de Serviços</a>
                        <a href="#">Contato</a>
                        
                        <div class="close-icon" onclick="closeMenu()">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </div>
                    </ul>
                    <div class="menu-icon" onclick="openMenu()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                </nav>
            </div>
    </header>
</body>
</html>
<body> <h2>Explore ou publique cursos da sua preferência</h2> </body>
     <div>
      <section class="main-container">
        <!--Post Container-->
        <div class="post-container">
          <!--Post-box-->
          <div class="post-box">
          <!-- Post Top-->
          <div class="post-top">
            <!--Profile-->
            <div class="post-profile">
              <img src="/public/imagem/imagens.tca/user.jpeg" alt="user"/>
              <div class="name-location">
                <h3 class="profile-name">
                  Groomer 
                </h3>
               

              </div>
            </div>
            <!--Info Icons-->
            <i class='bx bx-dots-vertical-rounded info-icon'></i>

          </div>
        </div>
        
        </div>
      </section>
     <img
     src="/public/imagem/imagens.tca/groomer.jpg"
     alt="groomer"
     /></div>
     <body>
      <h3> Curso de banho e tosa para iniciantes interessados no ramo de banho e tosa pet.  </h3>
      <button type="button"> Saiba mais</button>
    </body>
    </body>
    
    <div>
      <section class="main-container">
        <!--Post Container-->
        <div class="post-container">
          <!--Post-box-->
          <div class="post-box">
          <!-- Post Top-->
          <div class="post-top">
            <!--Profile-->
            <div class="post-profile">
              <img src="/public/imagem/imagens.tca/user.jpeg" alt="user"/>
              <div class="name-location">
                <h3 class="profile-name">
                  Língua Inglesa
                </h3>
               

              </div>
            </div>
            <!--Info Icons-->
            <i class='bx bx-dots-vertical-rounded info-icon'></i>

          </div>
        </div>
        
        </div>
        <body>
      </section>
      <img
      src="/public/imagem/imagens.tca/ingles.jpg"
      alt="ingles"
      /></div>
       
     
      <body>
        <h3> Aprendendo inglês você alcançará novos objetivos. </h3>
        <button type="button"> Saiba mais</button>
      </body>
       <div>
        
        <div>
          <section class="main-container">
            <!--Post Container-->
            <div class="post-container">
              <!--Post-box-->
              <div class="post-box">
              <!-- Post Top-->
              <div class="post-top">
                <!--Profile-->
                <div class="post-profile">
                  <img src="/public/imagem/imagens.tca/user.jpeg" alt="user"/>
                  <div class="name-location">
                    <h3 class="profile-name">
                      Marketing Digital
                    </h3>
                    
  
                  </div>
                </div>
                <!--Info Icons-->
                <i class='bx bx-dots-vertical-rounded info-icon'></i>
  
              </div>
            </div>
            
            </div>
          </section>
      <div>
        <img
        src="/public/imagem/imagens.tca/marketingdig.jpg"
        alt="marketing"
        /></div>
      <div>
        <body>
          <h3> Aprenda a construir estratégias de marketing digital </h3>
          <button type="button"> Saiba mais</button>
        </body>
        </div>

        <div>
            <section class="main-container">
              <!--Post Container-->
              <div class="post-container">
                <!--Post-box-->
                <div class="post-box">
                <!-- Post Top-->
                <div class="post-top">
                  <!--Profile-->
                  <div class="post-profile">
                    <img src="/public/imagem/imagens.tca/user.jpeg" alt="user"/>
                    <div class="name-location">
                      <h3 class="profile-name">
                        Curso básico de crochê
                      </h3>
                      
    
                    </div>
                  </div>
                  <!--Info Icons-->
                  <i class='bx bx-dots-vertical-rounded info-icon'></i>
    
                </div>
              </div>
              
              </div>
            </section>
        <div>
          <img
          src="/public/imagem/imagens.tca/croche.jpeg"
          alt="croche"
          /></div>
        <div>
          <body>
            <h3> Aprenda a fazer crochê com mais facilidade </h3>
            <button type="button"> Saiba mais</button>
          </body>
          </div>
          <section class="Sobre">
            <div class="sobre_container">
                <div class="sobre_texto">
                    <h3>Fique de olho no mercado</h3>
                    <p> O profissional de Marketing Digital é responsável pelo uso de canais digitais para divulgar os produtos e serviços da empresa, prospectar novos clientes e criar consciência de marca. Multinacionais, instituições sem fins lucrativos, startups de todos os setores e empresas de pequeno e médio porte estão sempre em busca desses profissionais.</p>
                    <p>Torne-se um profissional de Marketing Digital e decole na carreira ao adquirir experiência:</p>
                    <h4>Analista Junior de Marketing Digital</h4>
                    <p>salário médio R$ 3.000</p>
                    <h4>Analista Pleno de Marketing Digital</h4>
                    <p>salário médio R$ 7.000</p>
                </div>
                    <div class="post-profile img">
                        <img src="/public/imagem/imagens.tca/marketing (1).jpg" alt="">
                    </div>
                    <div class="name-location">
                        <h3 class="post-name"> </h3>
                    </div>
                </div>
                </section>
        <footer>
          <p>&copy; Women In Work</p>
          <nav>
            <ul>
              <li><a href="#">Início</a></li>
              <li><a href="#">Divulgação de Serviços</a></li>
              <li><a href="#">Cursos</a></li>
              <li><a href="#">Sobre Nós</a></li>
              <li><a href="#">Fale conosco</a></li>
              <li><a href="#">Política de Privacidade</a></li>
              <li><a href="#">Termos de uso</a></li>
            </ul>
          </nav>
          <img
        src="/public/imagem/imagens.tca/insta.jpeg"
        alt="insta"
        /></div>
        <img
        src="/public/imagem/imagens.tca/face.jpeg"
        alt="face"
        /></div>
        <img
        src="/public/imagem/imagens.tca/whats.jpeg"
        alt="whats"
        /></div>
        </footer>
</html>