<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
        <!--LINK CSS-->
        <link rel="stylesheet" href="/public/css/marketing-cursos.css">
        <!--LINK-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Woman in work</title>
    </head>
    <body>
        <!--INICIO MENU DA PAGINA-->
        <header">
            <section class="container">
                <nav>
                    <a href="index.html">
                        <img src="/public/imagem/imagens.tca/logo2.png" width="158px" height="60px">
                    </a>
                    <ul class="ul">
                        <a href="index.html">Home</a>
                        <a href="/views/pages/sobrenos.html">Sobre nós</a>
                        <a href="cursos2.html">Cursos</a>
                        <a href="divulgacao.html">Divulgação de Serviços</a>
                        <a href="#">Contato</a>
                        <a class="btn" href="ca_aut (1).html">Entrar</a>
                        <section class="close-icon" onclick="closeMenu()">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </section>
                    </ul>
                    <section class="menu-icon" onclick="openMenu()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </section>
                </nav>
              </section>
              <!--FIM DO CABEÇALHO DA PÁGINA-->

              <!--INICIO DA AREA DE CADASTRO DO CURSO-->
            <section class="Sobre">
              <section class="sobre_container">
                  <section class="sobre_texto">
                      <h3>Curso de Marketing Digital</h3>
                      <p>Domine o universo do Marketing Digital e conquiste grandes oportunidades neste mercado em constante ascensão.

                       </p>
                     
                       <p>  Você vai aprender, na prática, como desenvolver campanhas de comunicação digital, planejamento de mídia e análise de dados, além de gerenciar projetos com suporte de metodologias ágeis. Saia na frente com um portfólio para apresentar nas próximas entrevistas e decolar na carreira. </p>
                       <h4>Curso a partir de</h4>
                       <h3>R$ 55,90</h3>
                       <h4>6 meses</h4>
                      <p>Com mais de 35 horas de aula online</p>
                      <h4>Prática e Mentoria</h4>
                      <p>Atividades ao longo do curso e feedback individualizado do tutor</p>
                  </section>
                  <nav class="sobre_img">
                      <img src="/public/imagem/imagens.tca/marketingdig.jpg" alt="">
                  </nav>
              </section>
            

  <body>
    <!--CADASTRO CURSO-->
    <section class="body-cadastro">
        <nav class="sobre_texto">
            
    <section class="container-cadastro">
        
      <section class="header">
        <h2>Inscreva-se</h2>
      </section>

    
      <form action="/action_page.php" method="post" id="form" class="form" >
        <section class="form-control">
          <label for="username">Seu nome</label>
          <input type="text" id="username" placeholder="Digite seu nome"/>
          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </section>

        <section class="form-control">
          <label for="email">Seu email</label>
          <input type="text" id="email" placeholder="Digite seu email" />
          <i class="fas fa-exclamation-circle"></i>
          <i class="fas fa-check-circle"></i>
          <small>Mensagem de erro</small>
        </section>

        <form action="/action_page.php" method="post" id="form" class="form" >
            <section class="form-control">
              <label for="username">Seu Telefone</label>
              <input type="text" id="username" placeholder="Digite seu telefone"/>
              <i class="fas fa-exclamation-circle"></i>
              <i class="fas fa-check-circle"></i>
              <small>Mensagem de erro</small>
            </section>
            <button type="submit">Inscreva-se</button>
            
        </form>
    </section>
    </body>
   
          </section>
          <section class="Sobre">
            <section class="sobre_container">
                <section class="sobre_texto">
                    <h3>Fique de olho no mercado</h3>
                    <p> O profissional de Marketing Digital é responsável pelo uso de canais digitais para divulgar os produtos e serviços da empresa, prospectar novos clientes e criar consciência de marca. Multinacionais, instituições sem fins lucrativos, startups de todos os setores e empresas de pequeno e médio porte estão sempre em busca desses profissionais.</p>
                    <p>Torne-se um profissional de Marketing Digital e decole na carreira ao adquirir experiência:</p>
                    <h4>Analista Junior de Marketing Digital</h4>
                    <p>salário médio R$ 3.000</p>
                    <h4>Analista Pleno de Marketing Digital</h4>
                    <p>salário médio R$ 7.000</p>
                </section>
                    <nav class="post-profile img">
                        <img src="/public/imagem/imagens.tca/marketing (1).jpg" alt="">
                    </nav>
                    <section class="name-location">
                        <h3 class="post-name"> </h3>
                    </section>
                </section>
                </section>
                <!--FIM CADASTRO CURSO-->
                <h2 class="h2-titulo">Conheça os diversos cursos que oferecemos </h2>
          
                <section class="container_cursos">
                    <!-- Card 1 -->
                    <section class="card card-1">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/public/imagem/imagens.tca/info.jpg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo">Informática</h2>
                        <p class="card-texto">
                            Ramo das ciências da informação e da computação. Estuda os processos de recolha, armazenamento, processamento, transferência e difusão de dados digitais.

                            
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="#">Saiba Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 1 -->
              
                    <!-- Card 2 -->
                    <section class="card card-2">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/public/imagem/imagens.tca/croche.jpeg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo">Crochê</h2>
                        <p class="card-texto">
                          Este curso é um be-a-bá do crochê para quem ainda não sabe fazer nosso querido crochê ou para quem quer aprimorar as regras básicas do crochê[...]
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="#">Saiba Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 2 -->
              
                    <!-- Card 3 -->
                    <section class="card card-3">
                      <!-- card-header -->
                      <section class="card-header">
                        <img src="/public/imagem/imagens.tca/decoracao_bolo (1).jpg" class="card-img" />
                      </section>
                      <!-- card-header -->
              
                      <!-- card-body -->
                      <section class="card-body">
                        <h2 class="card-titulo">Bolos Decorados</h2>
                        <p class="card-texto">
                         Aprenda a fazer maravilhosos bolos decorados, utilizando as melhores práticas de preparo da massa, do recheio e da decoração, esse curso te ajudaria[..]
                        </p>
                      </section>
                      <!-- card-body -->
              
                      <!-- card-footer -->
                      <section class="card-footer">
                        <a href="#">Ver Mais</a>
                      </section>
                      <!-- card-footer -->
                    </section>
                    <!-- Card 3 -->
                    
                    <!-- Link Tutorial: https://youtu.be/UEm65E2_Y2Q -->
                  </section>
          <footer class="footer">
            <section class="container">
                <section class="links">
                    <a href="#"> <i class="fa fa-facebook"></i></a>
                    <a href="#"> <i class="fa fa-instagram"></i></a>
                    <a href="#"> <i class="fa fa-twitter"></i></a>
                    <a href="#"> <i class="fa fa-github"></i></a>
                </section>
                <p>WOMAN IN WORK</p>
            </section>
        </footer>
  
