<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--LINK CSS-->
    <link rel="stylesheet" href="/womaninfinal-main/app/public/css/css_aut 1.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <!--TITULO DA PAGINA-->
    <title>Perfil</title>
  </head>
  <body>
    <!--INICIO DO HEADER-->
    <header>
        <nav class="navbar navbar-light nav-top">
            <nav class="container-fluid nav-container">
              <a href="/womaninfinal-main/app/views/pages/index.html">
                <img src="/womaninfinal-main/app/public/imagem/imagens.tca/logo2.png" style="max-width:125px; max-height:80px;">
              </a>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                </form>
                <nav style="width: 30%">
                    <i class="bi bi-house-door icons" ></i>
                    <a href="/womaninfinal-main/app/views/pages/divulgacao.html"></a>
                    <i class="bi bi-inbox icons"></i>
                    <i class="bi bi-compass icons"></i>
                    <i class="bi bi-heart icons"></i>
      
                </nav>
              </nav>
        </nav>
    </header>
<!--INICIO PARTE DO PERFIL DO USUARIO-->
    <section>
      <section class="container">
        <nav class="row">
          <nav class="col-0 col-md-2"></nav>
          <nav class="col-12 col-md-8">
            <article class="container">
              <nav class="row" style="padding-top: 20px;">
                <nav class="row" style="padding-left: 110px;"></nav>
              <nav class="col-3">

              <!--IMAGEM DE PERFIL-->  
                <img class="img-profile" id="imagePreview" src="/womaninfinal-main/app/public/imagem/imagens.tca/woman.png">
              </nav>
              <nav class="col-7"></div>
              <nav class="row mb-4" style="padding-top: 20px; padding-bottom: 50px;">
                <nav class="col-8 col-5">
                  <!--NOME DO USUARIO-->
                  <h2 class="username" id="user">Confeitaria_da_Lu</h2>
                </nav>
                <nav class="col-4 col-lg-6">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Editar perfil
                  </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar perfil</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <span>Faça alterações em seu perfil aqui. Clique em salvar quando terminar.</span>
                          <form class="col center" id="form">
                            <div class="col-md-4">
                              <label for="validationServer01" class="form-label">Nome</label>
                              <input type="text" class="form-control is-valid" id="name" value="" required>
                              <div class="valid-feedback">
                                Perfeito!
                              </div>
                            </div>
                            <div class="col-md-4">
                              <label for="validationServerUsername" class="form-label">Email</label>
                              <div class="input-group has-validation">
                                <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                  Coloque seu e-mail
                                </div>
                              </div>
                              </div>
                              <div class="mb-3 col-md-4">
                                <label for="fileInput" class="form-label">Escolha uma imagem</label>
                                <input class="form-control" type="file" id="fileInput">
                            </div>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </nav>
              </nav>
              <article class="row">
                <!--PUBLICAÇOES-->
                <section class="col-4">
                  <p class="profile-datas"><strong>194</strong> Publicações</p>
                </section>
                <!--SEGUIDORES-->
                <article class="col-4">
                  <p class="profile-datas"><strong>5.300</strong> Seguidores</p>
                </article>
                <!--SEGUINDO-->
                <article class="col-4">
                  <p class="profile-datas"><strong>667</strong> Seguindo</p>
                </article>
              </article>
              </nav>
            <!--DESCRIÇAO DO PERFIL-->
            <section class="row">

            </section>
            </article>
          <nav class="col-2">
          </nav>
          </nav>
        </nav>
      </section>

      <!--LINHA DE SEPARAÇAO-->
      <hr size="3" width="100%" color="#EEEEEE" style="margin: 0%;">

      <!--INICIO DO FEED-->
     <ul class="nav nav-tabs nav-feed">
      <li class="nav-item">
        <a class="nav-link active nav-link1" id="home-tab" data-bs-toggle="tab" href="#home" aria-controls="home" aria-selected="true"><i class="bi bi-grid-3x3"></i> PUBLICAÇÕES</a>
      </li>

      <li class="nav-item">
        <a class="nav-link nav-link2" id="profile-tab" data-bs-toggle="tab" href="#profile" aria-controls="profile" aria-selected="false"><i class="bi bi-file-person"></i> MARCADOS</a>
      </li>
     </ul>
      
      <!--CARD FEED-->
      <section class="tab-content">
        <nav class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <article class="row" style="padding-bottom: 25px;">
              <article class="col-4">
                <article class="card">
                  <img src="/womaninfinal-main/app/public/imagem/imagens.tca/MicrosoftTeams-image (6).png" class="card-img-top" alt="...">
                </article>
              </article>
              <article class="col-4">
                <article class="card" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                  <img src="/womaninfinal-main/app/public/imagem/imagens.tca/MicrosoftTeams-image (5).png" class="card-img-top" alt="...">
                </article>
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Imagem</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <img src="/womaninfinal-main/app/public/imagem/imagens.tca/MicrosoftTeams-image (5).png" class="card-img-top" alt="...">
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article class="col-4">
                <article class="card">
                  <img src="/womaninfinal-main/app/public/imagem/imagens.tca/post1 (1).jfif" class="card-img-top" alt="...">
                </article>
              </article>
            </article>
        </nav>
        <article class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"></div>
        </article>
      </section>
      <article class="col-0 col-md-2"></article>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script>
      document.getElementById('form').addEventListener('submit', function(event) {
         window.alert('teste')
          event.preventDefault();

          let nome = document.getElementById('name').value;
          let usernameElement = document.querySelector('#user');
            usernameElement.textContent = nome;
          window.alert(nome)
      });
      document.getElementById('fileInput').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const imagePreview = document.getElementById('imagePreview');
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = 'block';
                };
                reader.readAsDataURL(file);
            }
        });
  </script>
  </body>
</html>
